/* buen-dia.component.css */
.bg-custom {
  background-color: rgba(173, 216, 230, 0.7); /* Azul claro con 70% de opacidad */
  background-image: linear-gradient(to bottom right, rgba(173, 216, 230, 0.7), rgba(240, 248, 255, 0.9));
}

.full-height {
  min-height: 100vh;
}

.text-large {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1.5s ease-in-out;
}

